<a href="https://colab.research.google.com/github/MondaAtef/projects_3th/blob/FCL-C-programming/model_machine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv('Book1.csv')

In [ ]:
data

,title,price,des
0,Luxor Temple,40,"Luxor City, Luxor, Luxor Governorate 1362501"
1,Luxor Museum,30,"PJ5V+2RV, Kornish Al Nile, Luxor City, Luxor, ..."
2,Karnak,20,"Karnak, Luxor, Luxor Governorate"
3,Valley of the Kings,5,"Luxor, Luxor Governorate 1340420"
4,Colossi of Memnon,1,"The ancient city of Thebes and its necropolis,..."
5,Mortuary Temple of Hatshepsut,69,"Al Qarna Desert, Luxor Governorate 1340420"
6,Valley of the Queens,25,"PHHV+C5M, Luxor, Luxor Governorate 1340410"
7,Ramesseum,77,"Edfo, Luxor Governorate 1341711"
8,Medinet Habu,7,"PJ92+PGG, Al Bairat, Al Qarna, Luxor Governora..."
9,Mummification Museum,6,"Kornish Al Nile, Luxor City, Luxor, Luxor Gove..."
10,Museum Luxor,8,"Luxor Temple, Luxor City, Luxor, Luxor, Luxor ..."
11,Deir el-Medina,10,"PJH2+37, Al Qarna, Luxor Governorate 1340412"
12,First Pylon Luxor Temple,3,"PJ2Q+4VF, Luxor City, Luxor, Luxor Governorate..."
13,Mortuary Temple of Amenhotep III,2,"PJC5+GJG, Al Bairat, Luxor, Luxor Governorate ..."
14,Maadi Square,12,"PJMH+377, Naga Al Taref Inside Rd, Al Qarnah, ..."
15,Nile Cruise,15,"PJ4W+WF9, Mabad Al Karnak, Karnak, Luxor, Luxo..."
16,Luxor,13,"Khaled Ibn Al Walid, Gazirat Al Awameyah, Luxo..."

In [ ]:
data.describe( )

           price
count  17.000000
mean   20.176471
std    22.528413
min     1.000000
25%     6.000000
50%    12.000000
75%    25.000000
max    77.000000

# machine learing libraries

In [ ]:

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [ ]:
x=data.drop(columns=['title','des'])

In [ ]:
x.head()

   price
0     40
1     30
2     20
3      5
4      1

In [ ]:
y=data.drop(columns=['price'])

In [ ]:
y.head()

                 title                                                des
0         Luxor Temple       Luxor City, Luxor, Luxor Governorate 1362501
1         Luxor Museum  PJ5V+2RV, Kornish Al Nile, Luxor City, Luxor, ...
2               Karnak                   Karnak, Luxor, Luxor Governorate
3  Valley of the Kings                   Luxor, Luxor Governorate 1340420
4    Colossi of Memnon  The ancient city of Thebes and its necropolis,...

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import ColumnTransformer

# categorical_features=["title"]
# one_hot=OneHotEncoder()
# transformer=ColumnTransformer([("one_hot",one_hot,categorical_features)],remainder="passthrough")
# transformed_x= transformer.fit_transform(x)
# pd.DataFrame(transformed_x)

### Build the Model

In [ ]:
x_train,x_test,y_train, y_test= train_test_split(x,y,test_size=0.3)

In [ ]:
clf=DecisionTreeClassifier()

In [ ]:
clf.fit(x_train , y_train)

DecisionTreeClassifier()

### testing

In [ ]:
test=clf.predict(x_test)

In [ ]:
test

array([['Ramesseum', 'Edfo, Luxor Governorate 1341711'],
       ['Museum Luxor',
        'Luxor Temple, Luxor City, Luxor, Luxor, Luxor Governorate'],
       ['Mortuary Temple of Amenhotep III',
        'PJC5+GJG, Al Bairat, Luxor, Luxor Governorate 1341703'],
       ['Mummification Museum',
        'Kornish Al Nile, Luxor City, Luxor, Luxor Governorate 1362501'],
       ['Valley of the Queens',
        'PHHV+C5M, Luxor, Luxor Governorate 1340410'],
       ['Nile Cruise',
        'PJ4W+WF9, Mabad Al Karnak, Karnak, Luxor, Luxor Governorate 1362610']],
      dtype=object)

In [ ]:
y_test

,title,des
5,Mortuary Temple of Hatshepsut,"Al Qarna Desert, Luxor Governorate 1340420"
11,Deir el-Medina,"PJH2+37, Al Qarna, Luxor Governorate 1340412"
4,Colossi of Memnon,"The ancient city of Thebes and its necropolis,..."
8,Medinet Habu,"PJ92+PGG, Al Bairat, Al Qarna, Luxor Governora..."
1,Luxor Museum,"PJ5V+2RV, Kornish Al Nile, Luxor City, Luxor, ..."
2,Karnak,"Karnak, Luxor, Luxor Governorate"

In [ ]:
y_train

,title,des
15,Nile Cruise,"PJ4W+WF9, Mabad Al Karnak, Karnak, Luxor, Luxo..."
10,Museum Luxor,"Luxor Temple, Luxor City, Luxor, Luxor, Luxor ..."
13,Mortuary Temple of Amenhotep III,"PJC5+GJG, Al Bairat, Luxor, Luxor Governorate ..."
14,Maadi Square,"PJMH+377, Naga Al Taref Inside Rd, Al Qarnah, ..."
12,First Pylon Luxor Temple,"PJ2Q+4VF, Luxor City, Luxor, Luxor Governorate..."
9,Mummification Museum,"Kornish Al Nile, Luxor City, Luxor, Luxor Gove..."
7,Ramesseum,"Edfo, Luxor Governorate 1341711"
3,Valley of the Kings,"Luxor, Luxor Governorate 1340420"
16,Luxor,"Khaled Ibn Al Walid, Gazirat Al Awameyah, Luxo..."
6,Valley of the Queens,"PHHV+C5M, Luxor, Luxor Governorate 1340410"
0,Luxor Temple,"Luxor City, Luxor, Luxor Governorate 1362501"

In [ ]:
user=clf.predict([[40]])

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(